<div class="container-fluid backgroud text-light fs">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://i.imgur.com/CKOqQA7.png">
        </div>

        <div class="col-md-4 col d-flex justify-content-center align-items-center">
            <ul>
                <li>
                    <a href="https://trello.com/b/LXK4ur4C/olga" target="_blank"><i class="fa fa-trello" aria-hidden="true"></i> Gerenciamento do projeto</a>
                </li>
                <li>
                    <a><img src="https://i.imgur.com/NkbyFns.png" alt="" width="40px">Metodologia Agil</a>
                </li>
                <li>
                    <a href="https://github.com/karolrobertax3/E-commerce-Organicos" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Versionamento</a>
                </li>
            </ul>
        </div>

        <div class="col-md-4 col-direita d-flex justify-content-center align-items-center">
            <ul>
                <li>
                    <a>Quem somos</a>
                </li>
                <li>
                    <a>Faça parte</a>
                </li>
                <li>
                    <a>Equipe</a>
                </li>
            </ul>
            
        </div>
      
    </div>
</div>
<hr>
<div class="text-center py-3 backgroud text-light">
    <p class="mt-2">Olga, o elo entre a horta e a sua mesa | &copy; 2021 Todos os direitos reservados.</p>
</div>
