<div class="container-fluid backgroud text-light fs

">
    <div class="row">
        <div class="col-mt-3 col">
            <h4 class="mt-4 text-center text-uppercase">Contato</h4>
            <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                Contacte-nos
            </a>
            <p>Ligue agora(11)3834-2299</p>
            <p>Escreva-nos:</p>
            <p>atendimento@mercadoorganico.net</p>
            <p>CNPJ: 01.307.868/0001-00</p>

        </div>

        <div class="col-md-3 col">
            <h4 class="mt-4 text-center text-uppercase"> Produtos</h4>

            <p>Promoções!</p>
            <P>Novidades</P>
            <p>Top de vendas</p>
        </div>

        <div class="col-md-3 col">
            <h4 class=" mt-4 text-center text-uppercase"> Nossa Empresa</h4>

            <p>Quem somos</p>
            <p>Como comprar</p>
            <p>Equipe</p>
        </div>

        <div class="col-md-3 col">
            <h4 class="mt-4 text-center text-uppercase">Redes Sociais</h4>

            <p></p>


        </div>
      
    </div>
</div>
<hr>
<div class="text-center py-3 backgroud text-light">
    <p class="mt-2">&copy; 2021 Olga, o elo entre a horta e a mesa | Todos os direito autorais.</p>
</div>
