<!--MENU-->
<div class="container-fluid">

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5 mr-auto" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-around">
        <a class="nav-item nav-link text-uppercase p-3" href="#sobre">sobre nós</a>
        <a class="nav-item nav-link text-uppercase p-3" href="#missao">missão visão e valores</a>
        <a class="nav-item nav-link text-uppercase p-3" href="#apoie">apoie</a>
      </div>
    </div>

    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNavAltMarkup">
      <a href="inicio.component.html"><img width="90" height="90" src="../../assets/images/olga.png" alt=""></a>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-around">
        <a class="nav-item nav-link text-uppercase p-3" href="#quem">quem somos</a>
        <a class="nav-item nav-link text-uppercase p-3" href="#">produtos</a>
        <form class="form-inline">
          <button class="btn btn-sm btn-success ml-5 mr-0" type="button">Cadastre-se</button>
          <button class="btn btn-sm btn-outline-light" type="button">Entrar</button>
        </form>
      </div>
    </div>
  </nav>

</div>
<!--/MENU-->

<!--ANIMAÇÃO-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" height="600" src="../../assets/images/colheita-gif.gif" alt="Primeiro Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" height="600" src="../../assets/images/sacola-gif.gif" alt="Segundo Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" height="600" src="../../assets/images/produtos-molhados-gif.gif" alt="Terceiro Slide">
    </div>
  </div>
</div>
<!--/ANIMAÇÃO-->

<!--SOBRE NÓS-->
<h1 id="sobre"></h1>
<hr>
<div class="container">
  <div class="row mt-5 mb-5 align-items-center">

    <div class="col md-6">
      <p></p>
      <p>Olga incentiva e viabiliza a comercialização de produtos agrícolas de pequenos produtores.</p>
      <p>Objetivamos ser um elo de ligação direto do campo até a mesa, proporcionando aos nossos clientes uma
        relação transparente e direta com quem planta o seu alimento.</p>
      <p>Visamos construir uma rede de economia solidária: gerar mais renda para o campo, fornecer uma alimentação
        de qualidade aos grandes centros urbanos e fazer com que esse acesso chegue a pessoas em situação de
        vulnerabilidade social.</p>
    </div>
    <h1 id="missao"></h1>
    <div class="col md-6">
      <img width="500" height="350"
        src="https://previews.123rf.com/images/cherriesjd/cherriesjd1805/cherriesjd180500216/100966729-mixed-organic-vegetable-in-wicker-basket-farmer-holding-basket-with-vegetables-.jpg"
        alt="">
    </div>

  </div>

</div>
<!--/SOBRE NÓS-->

<!--MISSÃO VISÃO E VALORES-->
<div class="container">
  <div class="row mt-5 mb-5 align-items-center">

    <div class="col md-4">
      <h1 class="text-uppercase">Missão</h1>
      <p>Criar conexões entre produtores de pequeno e médio porte com consumidores finais.
        Aumentar a visibilidade da agricultura com ênfase em produtos orgânicos.
        Promover uma alimentação mais saudável para todes.
      </p>
    </div>

    <div class="col md-4">
      <h1 class="text-uppercase">visão</h1>
      <p>Ser uma referência na venda de produtos agrícolas, incentivando a economia solidária e possibilitando maior
        qualidade de vida às pessoas.</p>
    </div>

    <div class="col md-4">
      <h1 class="text-uppercase">valores</h1>

      <p>Respeito ao meio ambiente, Responsabilidade social, Economia solidária,
        Ética, Integridade, Foco no cliente
      </p>
      <h1 id="apoie"></h1>
    </div>

  </div>

</div>
<!--/MISSÃO VISÃO E VALORES-->

<!--APOIE-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">Você sabe os trajetos que o seu alimento faz do campo à sua mesa?</p>
    <p class="lead">Você se preocupa com a sua alimentação e acredita em uma produção mais sustentável?</p>
    <p>Pratique a economia solidária!</p>
    <hr class="my-4">
    <img width="100%" height="300"
      src="https://image.freepik.com/vetores-gratis/homens-e-mulheres-sorridentes-de-maos-dadas-pessoas-felizes-juntas-na-fila-conceito-de-felicidade-e-amizade-personagens-de-desenhos-animados-caucasianos-asiaticos-e-africanos-isolados_255343-141.jpg"
      alt="">
    <hr class="my-4">
    <P>Acredita nessa causa?
      Doe!</P>
    <p>Ao final da sua compra, você pode acrescentar um valor que será destinado a projetos sociais que mobilizam
      recursos para quem mais precisa!</p>
    <P class="lead">Entre nessa rede!</P>
    <a class="btn btn-outline-success btn-lg text-uppercase" href="#" role="button">apoie</a>
    <h1 id="quem"></h1>
  </div>
</div>
<!--/APOIE-->

<!--QUEM SOMOS-->
<div class="container">
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top"
        src="https://media-exp1.licdn.com/dms/image/C4E03AQFVmBrN_KonSA/profile-displayphoto-shrink_800_800/0/1619177430748?e=1625097600&v=beta&t=zVx8uIh6T1vHXqp27lRcWFZPXRusvcFngfmh17X6VKc"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Edmundo</h5>
        <p class="card-text">Sou um cara radical, gosto de layouts descolados, designs bacanas, no front-end eu sou o
          tal</p>
        <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://avatars.githubusercontent.com/u/59871008?v=4" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Roberta</h5>
        <p class="card-text">Quer fazer um pair programing @? Vem de inbox e me mostra seu github!</p>
        <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://avatars.githubusercontent.com/u/72743384?v=4" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Helder</h5>
        <p class="card-text">Olá! Sou um bot e estou aqui para criar seu programa</p>
        <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://avatars.githubusercontent.com/u/71565887?s=400&u=f5064a61f26bc009cbef9d044ec05607c148fc59&v=4"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Iaiá</h5>
        <p class="card-text">Nem tão complicada demais mas nem tão simples assim</p>
        <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://sempreupdate.com.br/wp-content/uploads/2019/02/qual-a-diferenca-entre-programador-e-desenvolvedor.jpg"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Will</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://sempreupdate.com.br/wp-content/uploads/2019/02/qual-a-diferenca-entre-programador-e-desenvolvedor.jpg"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Felipe</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
      </div>
    </div>



  </div>
</div>
<!--/QUEM SOMOS-->

<!--RODAPÉ-->
<footer>
  aqui vai um footer
</footer>
<!--/RODAPÉ-->