.filtro{
    display: flex;
    justify-content: space-between;
}

.btn-filtro{
    border: none;
    background-color: #178A41;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 15pt;
}

.btn-filtro:hover{
    background-color: #502C1C;
    transition: linear 400ms;
}

.card-container{
    width:  24%;
    margin-right: 1%;
    border: solid 1px #ddd;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 0px 5px rgba(190, 190, 190, .4);

}

.card-container:hover {
    border: solid 1px #178A41;
}


.card-container p {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    font-weight: bolder;
}

.card-box {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    
}

.container-compra{
    display: flex;
    justify-content: center;
}

.container-compra input{
    width: 80px;
    height: 40px;
    border-right: none;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid 1px #178A41;
    margin-top: 8px;
}

.container-compra input:focus {
    border: solid 1px #178A41;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    border-right: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 2px 0 5px 2px rgb(199, 216, 230);
    outline: 0;
}


.container-compra .btn-compra{
    border: none;
    background-color: #178A41;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40px;
    border-left: none;
    margin-top: 8px;
}

.container-compra .btn-compra:hover{
    background-color: #502C1C;
    transition: linear 400ms;
    transform:scale(1.07);
    transition: all ease 0.3s;
}

.card-container img {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container img:hover {
    transform:scale(1.07);
    transition: all ease 0.3s;
}


.preco{
    width: 57px;
    height: 57px;
    background-color: #178A41;
    color: white;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    padding: 0;
    margin-left: 20px;
}

.preco span{
    margin-right: -3.5px;
    margin-top: 9px;
    font-size: 9pt;
    float: right;
    padding: 0;
    padding-right: 4px;
}

.text-uppercase{
    color: #178A41;
}


.carrinho {
    margin-top: 10px;
    border: solid 1px #ddd;
    border-radius: 5px;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    padding: 0 2%;
    display: block;
    box-shadow: 2px 0px 5px rgba(190, 190, 190, .4);
    margin-bottom: 10px;
    border-bottom: none;
}

.carrinho p{
    margin-left: 470px;
}

.carrinho:hover {
    border: solid 1px #178A41;
}

.pesquisar{
    width: 400px;
    height: 60px;
    padding: 10px;
}

.pesquisar:focus{
    border: solid 1px #178A41;
    border-right: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 2px 0 5px 2px rgb(199, 216, 230);
    outline: 0;
}

.btn-pesquisa{
    border: none;
    background-color: #178A41;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 60px;
    width: 60px;
    border-left: none;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pesquisa img{
    width: 50px;
}

.btn-compra .fa:hover{
    transform:scale(1.07);
    transition: all ease 0.3s;
}

.finalizar{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #178A41;
    color: white;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 5px;
}

.finalizar:hover{
    transition: linear 400ms;
    background-color: #502C1C;
}

.exibir .nome{
    display: block;
    margin-left: 35px;    
}

.exibir .precoUn{
    display: block;
    margin-left: 330px;
}

.exibir .qtd{
    display: block;
    margin-left: 300px;
}

.totalCarrinho{
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    margin-left: 835px;
    padding: 0;
}

.lista-de-compras{
    margin-top: 10px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    display: block;
    box-shadow: 2px 0px 5px rgba(190, 190, 190, .4);
    margin-bottom: 10px;
    color:#178A41 ;
    
}

.menu-lista{
    border-bottom: solid 1px #ddd;
}

.cesta{
    border-bottom: dotted 1px black;
    
    
}