<div class="container">
    <h1>Loja de fulano</h1>
    <div class="row mt-5 mb-5">
        <div class="col-md-2">
            <h4>Categorias</h4>   
        </div>
        <div class="col-md-4">
            <a class="p-3" href=""><img src="https://i.imgur.com/SuOn9ix.png" width="50px" alt=""></a>
            <a class="p-3" href=""><img src="https://i.imgur.com/Lj1RQcO.png" width="50px" alt=""></a>
            <a class="p-3" href=""><img src="https://i.imgur.com/zCN07cr.png" width="50px" alt=""></a>
            <a href=""><img src="https://i.imgur.com/Y03Q00z.png" width="50px" alt=""></a>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text text-white" id="inputGroup-sizing-sm">Produtos</span>
                </div>
                <input type="text" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm" placeholder="Pesquisar produtos">
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row mb-3">
                <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="https://i.imgur.com/6bWcs0R.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">[Nome produto]</h5>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text text-white" id="inputGroup-sizing-sm">Quantidade</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://i.imgur.com/6bWcs0R.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">[Nome produto]</h5>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text text-white" id="inputGroup-sizing-sm">Quantidade</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://i.imgur.com/6bWcs0R.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">[Nome produto]</h5>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text text-white" id="inputGroup-sizing-sm">Quantidade</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="https://i.imgur.com/6bWcs0R.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">[Nome produto]</h5>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text text-white" id="inputGroup-sizing-sm">Quantidade</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://i.imgur.com/6bWcs0R.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">[Nome produto]</h5>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text text-white" id="inputGroup-sizing-sm">Quantidade</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://i.imgur.com/6bWcs0R.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">[Nome produto]</h5>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text text-white" id="inputGroup-sizing-sm">Quantidade</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                      </div>
                    </div>
                  </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Compras</h5>
                  <p class="card-text">[nome], [quantidade], [preço]</p>
                  <p class="card-text">[nome], [quantidade], [preço]</p>
                  <p class="card-text">[nome], [quantidade], [preço]</p>
                  <p class="card-text">[nome], [quantidade], [preço]</p>
                  <p class="card-text">[nome], [quantidade], [preço]</p>
                  <p class="card-text">[nome], [quantidade], [preço]</p>
                  <p class="card-text">[nome], [quantidade], [preço]</p>
                  <p class="card-text">[nome], [quantidade], [preço]</p>
                  <p class="card-text">[nome], [quantidade], [preço]</p>
                  <p class="card-text">[nome], [quantidade], [preço]</p>
                  <p class="card-text">[nome], [quantidade], [preço]</p>
                  <a href="#" class="btn text-white">Finalizar</a>
                </div>
              </div>
        </div>
    </div>
</div>
