<!--Corpo da pagina Compras-->

<div class="container">
  <h1>Loja de fulano</h1>
  <div class="row mt-5 mb-5">
    <div class="col-md-2">
      <h4>Categorias</h4>
    </div>
    <div class="col-md-4">
      <a class="p-3" href=""
        ><img src="https://i.imgur.com/SuOn9ix.png" width="50px" alt=""
      /></a>
      <a class="p-3" href=""
        ><img src="https://i.imgur.com/Lj1RQcO.png" width="50px" alt=""
      /></a>
      <a class="p-3" href=""
        ><img src="https://i.imgur.com/zCN07cr.png" width="50px" alt=""
      /></a>
      <a href=""
        ><img src="https://i.imgur.com/Y03Q00z.png" width="50px" alt=""
      /></a>
    </div>
    <div class="col-md-4">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text text-white" id="inputGroup-sizing-sm"
            >Produtos</span
          >
          <!-- Botão para acionar modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#ModalLongoExemplo"
          >
            Cadastre um novo produto!
          </button>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Exemplo do tamanho do input"
          aria-describedby="inputGroup-sizing-sm"
          placeholder="Pesquisar produtos"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row mb-3">
        <div class="card-deck">
          <div class="card">
            <img
              class="card-img-top"
              src="https://i.imgur.com/6bWcs0R.jpg"
              alt="Imagem de capa do card"
            />
            <div class="card-body">
              <h5 class="card-title">[Nome produto]</h5>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text text-white"
                    id="inputGroup-sizing-sm"
                    >Quantidade</span
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Exemplo do tamanho do input"
                  aria-describedby="inputGroup-sizing-sm"
                />
              </div>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="https://i.imgur.com/6bWcs0R.jpg"
              alt="Imagem de capa do card"
            />
            <div class="card-body">
              <h5 class="card-title">[Nome produto]</h5>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text text-white"
                    id="inputGroup-sizing-sm"
                    >Quantidade</span
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Exemplo do tamanho do input"
                  aria-describedby="inputGroup-sizing-sm"
                />
              </div>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="https://i.imgur.com/6bWcs0R.jpg"
              alt="Imagem de capa do card"
            />
            <div class="card-body">
              <h5 class="card-title">[Nome produto]</h5>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text text-white"
                    id="inputGroup-sizing-sm"
                    >Quantidade</span
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Exemplo do tamanho do input"
                  aria-describedby="inputGroup-sizing-sm"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card-deck">
          <div class="card">
            <img
              class="card-img-top"
              src="https://i.imgur.com/6bWcs0R.jpg"
              alt="Imagem de capa do card"
            />
            <div class="card-body">
              <h5 class="card-title">[Nome produto]</h5>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text text-white"
                    id="inputGroup-sizing-sm"
                    >Quantidade</span
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Exemplo do tamanho do input"
                  aria-describedby="inputGroup-sizing-sm"
                />
              </div>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="https://i.imgur.com/6bWcs0R.jpg"
              alt="Imagem de capa do card"
            />
            <div class="card-body">
              <h5 class="card-title">[Nome produto]</h5>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text text-white"
                    id="inputGroup-sizing-sm"
                    >Quantidade</span
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Exemplo do tamanho do input"
                  aria-describedby="inputGroup-sizing-sm"
                />
              </div>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="https://i.imgur.com/6bWcs0R.jpg"
              alt="Imagem de capa do card"
            />
            <div class="card-body">
              <h5 class="card-title">[Nome produto]</h5>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text text-white"
                    id="inputGroup-sizing-sm"
                    >Quantidade</span
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Exemplo do tamanho do input"
                  aria-describedby="inputGroup-sizing-sm"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Compras</h5>
          <p class="card-text">[nome], [quantidade], [preço]</p>
          <p class="card-text">[nome], [quantidade], [preço]</p>
          <p class="card-text">[nome], [quantidade], [preço]</p>
          <p class="card-text">[nome], [quantidade], [preço]</p>
          <p class="card-text">[nome], [quantidade], [preço]</p>
          <p class="card-text">[nome], [quantidade], [preço]</p>
          <p class="card-text">[nome], [quantidade], [preço]</p>
          <p class="card-text">[nome], [quantidade], [preço]</p>
          <p class="card-text">[nome], [quantidade], [preço]</p>
          <p class="card-text">[nome], [quantidade], [preço]</p>
          <p class="card-text">[nome], [quantidade], [preço]</p>
          <a href="#" class="btn text-white">Finalizar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Corpo da pagina Compras-->

<!-- Modal -->
<div
  class="modal fade"
  id="ModalLongoExemplo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalLongoExemplo"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalLongoExemplo">
          Título do modal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dataSafra">Data da Safra</label>
            <input [(ngModel)]='produto.dataSafra' name="dataSafra" type="date" class="form-control" id="dataSafra" placeholder="0000/00/00">
          </div>
          <div class="form-group">
            <label for="titulo">Nome do Produto</label>
            <input [(ngModel)]='produto.titulo'name='titulo' type="text" class="form-control" id="titulo" placeholder="Digite o nome do produto! ">
          </div>
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <input [(ngModel)]='produto.descricao' name="descricao" type="text" class="form-control" id="descricao" placeholder="Descreva seu produto caso seja necessário.">
          </div>
          <div class="form-group">
            <label for="fotoProduto">Foto do Produto</label>
            <input [(ngModel)]='produto.fotoProduto' name="fotoProduto" type="text" class="form-control" id="fotoProduto" placeholder="Coloque o link para a foto">
          </div>
          <div class="form-group">
            <label for="organico">Orgânico</label>
            <select class="form-control" name="organico" id="organico" (change)='tipoProduto($event)'>
              <option value='true'>Sim</option>
              <option value='false'>Não</option>
            </select>
          </div>
          <div class="form-group">
            <label for="qtdEstoque">Quantidade em Estoque</label>
            <input [(ngModel)]='produto.qtdEstoque' name="qtdEstoque"  type="number" class="form-control" id="qtdEstoque" placeholder=" Insira a quantidade do seu estoque">
          </div>
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <select class="form-control" name="categoria" id="categoria" (change)='categoriaProduto($event)'>
              <option value="FRUTAS">Frutas</option>
              <option value="VERDURAS">Verduras</option>
              <option value="LEGUMES">Legumes</option>
              <option value="OUTROS">Outros</option>
            </select>
          </div>
          <div class="form-group">
            <label for="preco">Preço</label>
            <input [(ngModel)]='produto.preco' name="preco" type="number" class="form-control" id="preco" placeholder="R$ 00,00">
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancelar
        </button>
        <button (click)='cadastrarProduto()'  type="button" class="btn btn-success" data-dismiss="modal">Cadastrar</button>
      </div>
