/* MENU */
.cabecalho {
    background-color: #ddd;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 1000px;
    margin: auto;
}

.logo-menu {
    width: 200px;
    margin-left: -200px;
}

.cabecalho .nav-menu ul li {
    list-style: none;
    margin-bottom: 0;
}

.cabecalho .nav-menu ul {
    display: flex;
    list-style: none;
    margin-left: 190px;
}

.cabecalho .nav-menu ul li a {
    text-decoration: none;
    color: #178A41;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1rem;
    transition: all 250ms linear 0s;
}

.cabecalho .nav-menu ul li a:hover {
    color: #502c1c;
}

/*FIM MENU*/

/* BOTÃO PESQUISA MENU */
.pesquisa {
    margin-left: 350px;
    margin-top: 10px;
    margin-bottom: 5;
}

#texto {
    width: 420px;
    height: 40px;
    float: left;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: solid 1px rgb(155, 155, 149);
    border-right: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: inset 0 0 0.2em rgba(5, 5, 5, .5);
}

#texto:focus {
    border: solid 1px rgb(52, 63, 160);
    border-right: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 2px 0 2px 3px rgba(17, 24, 87, 0.08);
    outline: 0;
}

#botao {
    width: 420px;
    height: 45px;
    float: left;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: solid 1px rgb(155, 155, 149);
    border-right: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: inset 0 0 0.2em rgba(5, 5, 5, .5)
}

    #botao:focus {
        border: solid 1px #60ACE9;
        border-right: none;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        box-shadow: 2px 0 5px 2px rgb(199, 216, 230);
        outline: 0;
    }
    
    .button-menu {
        width: 55px;
        height: 45px;
        padding: 5px 10px;
        background: #2fb86e;
        border: solid 1px #2fb86e;
        border-left: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    /* FIM BOTÃO PESQUISA */
    