/* MENU */
.cabecalho {
    background-color: #ddd;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 1000px;
    margin: auto;
}

.logo-menu {
    width: 200px;
    margin-left: -200px;
}

.cabecalho .nav-menu ul li {
    list-style: none;
    margin-bottom: 0;
}

.cabecalho .nav-menu ul {
    display: flex;
    list-style: none;
    margin-left: 190px;
}

.cabecalho .nav-menu ul li a {
    text-decoration: none;
    color: #178A41;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1rem;
    transition: all 250ms linear 0s;
}

.cabecalho .nav-menu ul li a:hover {
    color: #502c1c;
}

/*FIM MENU*/

/* BOTÃO PESQUISA MENU */

    