<div class="container fluid">

    <div class="row">

        <div class="col-md-12" id="img-bg"></div>
        
        <div class="col-md-12 mt-5 mb-5">

            <div class="row d-flex justify-content-center" >
                <div class="col-md-10">
                    <h1>Atualizar Cadastro</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome">
                    </div>

                    <div class="form-group">
                        <label for="email">Usuário/e-mail</label>
                        <input class="form-control" type="text" name="email" id="email" placeholder="Digite seu email">
                    </div>

                    <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input class="form-control" type="text" name="telefone" id="telefone" placeholder="Digite seu telefone">
                    </div>

                    <div class="form-group">
                        <label for="foto">Link da foto-Perfil</label>
                        <input class="form-control" type="text" name="foto" id="foto" placeholder="Insira o link da foto">
                    </div>

                    <div class="form-group">
                        <label for="fotoLoja">Link da foto-Loja</label>
                        <input class="form-control" type="text" name="fotoLoja" id="fotoLoja" placeholder="Insira o link da foto">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                    </div>

                    <div class="form-group">
                        <label for="novaSenha">Nova Senha</label>
                        <input class="form-control" type="password" name="senha" id="novaSenha" placeholder="Nova senha">
                    </div>

                    <div class="form-group">
                        <label for="cpfCnpj">CPF/CNPJ</label>
                        <input class="form-control" type="text" name="cpfCnpj" id="cpfCnpj" placeholder="Digite seu CPF ou CNPJ">
                    </div>

                    <div class="form-group">
                        <label for="nomeRazaoSocial">Razão Social</label>
                        <input class="form-control" type="text" name="nomeRazaoSocial" id="nomeRazaoSocial" placeholder="Digite sua razão social">
                    </div>

                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input class="form-control" type="text" name="cep" id="cep" placeholder="Digite seu CEP">
                    </div>

                    <div class="form-group">
                        <label for="endereço">Endereço</label>
                        <input class="form-control" type="text" name="endereço" id="uf" placeholder="Digite seu Endereço">
                    </div>

                    <div class="form-group">
                        <label for="cidade">Cidade</label>
                        <input class="form-control" type="text" name="cidade" id="cidade" placeholder="Cidade">
                    </div>

                    <div class="form-group">
                        <label for="uf">UF</label>
                        <input class="form-control" type="text" name="uf" id="uf" placeholder="UF">
                    </div>

                    <div class="form-group">
                        <label for="numero">Número</label>
                        <input class="form-control" type="text" name="numero" id="numero" placeholder="Número">
                    </div>

                    <div class="form-group">
                        <label for="doacao">Doação</label>
                        <input class="form-control" type="text" name="doacao" id="doacao" placeholder="Doação">
                    </div>



                    <div class="form-group">
                        <label for="meusProdutos">Meus produtos</label>
                        <input class="form-control" type="text" name="meusProdutos" id="meusProdutos" placeholder="Produtos">
                    </div>

                    <div class="form-group">
                        <label for="minhasCompras">Minhas compras</label>
                        <input class="form-control" type="text" name="minhasCompras" id="minhasCompras" placeholder="Compras">
                    </div>

                    <div class="form-group">
                        <label for="valorCompra">Valor da Compra</label>
                        <input class="form-control" type="text" name="valorCompra" id="valorCompra" placeholder="Valor">
                    </div>

                    <div class="form-group">
                        <label for="idUsuario">ID</label>
                        <input class="form-control" type="text" name="idUsuario" id="uf" placeholder="idUsuario">
                    </div>





                    

                    <div class="form-group">
                        <label for="tipo">Tipo de usuário</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option>Selecione o tipo de usuário:</option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-4" routerLink='/compras'>Cancelar</button>
                        <button type="submit" class="btn btn-success">Confirmar</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
    
</div>