.borda15 {
    border-radius: 35px;
    height: 350px;
} 

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #178A41;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}



.swiper-slide {
    width: 250px;
}

.slider-box {
    margin: 20px;
    height: 350px;
    width: 250px;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px #178A41;
}

.slider-box:hover {
    border: solid 1px rgba(187, 187, 187, 0.40);
}

.slider-box a {
    text-decoration: none;
    text-align: center;
}

.img-box {
    height: 170px;

}

.img-box img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.time {
    position: absolute;
    top: 0;
    right: 20px;
    color: #178A41;
}

.time img {
    position: absolute;
    top: 0;
    right: 0px;
    width: 50px;
    height: 50px;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 35px;
}

.price {
    color: #FFF;
    background-color: #178A41;
    line-height: 20px;
    padding: 5px;
}

.cart {
    position: absolute;
    bottom: 0;
    height: 45px;
    background-color: #178A41;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 4px;
}

.cart a {
    color: #FFF;
}

.slider-box:hover {
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
}

.slider-box:hover .img-box img {
    transform:scale(1.07);
    transition: all ease 0.3s;
}

.cart:hover {
    transform:scale(1.1);
    background-color: #339933;
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
    transition: all ease 0.3s;
}

.heading{
    display: flex;
    justify-content: center;
}

.heading h1 {
    border-left:solid 2px #502c1c;
    border-right: solid 2px #502c1c;
    background-color: #178A41;
    text-shadow: 2px 2px 12px rgba(69, 66, 66, 0.3);
    padding: 0px 10px;
    color: #FFF;
    font-size: 30px;
    font-family: monospace;
}

.card-box-container {
    border: solid 1px #178A41;
    width: 40%;
    height: 485px;
    border-radius: 5px;
    background: url(https://i.imgur.com/viQS1Ct.png) no-repeat;
}

.card-superior{
    border: solid 1px #178A41;
    width: 100%;
    height: 230px;
    border-radius: 5px;
    background: url(../../assets/images/colheita-gif.gif) no-repeat;
}

.card-inferior {
    width: 100%;
    height: 230px;
    border: solid 1px #178A41;
    border-radius: 5px;
}

.card-inferior .carousel{
    width: 100%;
}

.card-inferior .carousel img {
    height: 228px;
}

.card-carrossel-esquerdo {
    border: solid 1px #502c1c;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 450px;
    height: 250px;
    background-color: #EA9E19;
}

.texto-cozinhar {
    margin-top: 80px;
    font-size: 40px;
}

.card-carrossel-direito {
    border: solid 1px #502c1c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 450px;
    height: 250px;
    background: url(http://xtechfiles.s3.amazonaws.com/uploads/images/full/d7654353a86172a19e0ae4769085acc2.jpg);
}


/*RESPONSIVIDADE*/

@media (max-width: 630px) {

    .hero .container {
        flex-direction: column;
        text-align: center;
    }

    .hero .container img {
        order: -1;
    }

    .form-group {
        display: block;
    }
}

@media (max-width: 540px) {
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top:0;
        left:0;
        
        width: 100vw;
        height: 100vh;

        background-color: #7159c1;
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
        
    }

}

@media (max-width: 320px) {
    #form h3 {
        font-size: 2rem;
    }
}